.header {
  box-sizing: border-box;

  height: 100vh;
  background-image: url(/images/header-bg-mobile.png);
  background-size: cover;
  background-position: right;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__bottom {
  padding-bottom: 48px;
  text-align: center;
}

.header__title {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -1.5px;
}
