.menu {
  box-sizing: border-box;

  height: 100vh;
  background-color: #c2c2c2;
  font-weight: 700;
  text-transform: uppercase;
}

.menu__top {
  margin-bottom: 24px;
}

.menu__nav {
  margin-bottom: 40px;
}

.menu__content {
  padding-inline: 20px;
}

.menu__phone-number {
  margin-bottom: 16px;
  color: #1d1d1d;
  text-decoration: none;
  display: block;

  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
}

.menu__call-to-order {
  color: #1d1d1d;
  text-decoration: none;
  display: block;

  padding-bottom: 7px;
  border-bottom: 1px solid #1d1d1d;
  width: fit-content;

  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 2px;
}
